@import "./fonts.css";
@import "./layout.css";
@import "./type.css";
@import "./colors.css";

body {

  /* just testing that scss is pre-processing */
  span {
    color: hsl(6, 70%, 33%);
  }
}

:root {
  font-size: 22px;
}

h1 {
  font-size: 2rem;
}
