/*
 *   ____      _
 *  / ___|___ | | ___  _ __ ___        ___ ___ ___
 * | |   / _ \| |/ _ \| '__/ __|      / __/ __/ __|
 * | |__| (_) | | (_) | |  \__ \  _  | (__\__ \__ \
 *  \____\___/|_|\___/|_|  |___/ (_)  \___|___/___/
 *
 */

* {
  color: white;
}

body {
  background-color: hsl(9, 76%, 52%); // tomato red
  color: white;
}

header {
  background-color: hsl(8.6, 80%, 40%);

  nav {
    background-color: hsl(6, 79%, 30%);
  }
}

// .glossy-gradient-slack-brand-color {
//   linear-gradient(
//     -28.8deg,
//     hsla(298.9, 56.3%, 18.8%, 0.9),
//     hsla(298.9, 56.3%, 18.8%, 0.9) 45%,
//     hsl(298.9, 56.3%, 18.8%) 45%) hsl(0, 0%, 100%)
//   );
// }
